<%= current_user.firstname %>
<%= current_user.lastname %>
<%= current_user.email %>

<%= link_to "Update my infos", edit_user_registration_path(current_user) %>
<div class="container">
  <% if @bookings.exists? %>
    <table>
      <thead>
      <tr>
        <th>Booking code</th>
        <th>Date of Booking</th>
        <th>Number of People</th>
      </tr>
      </thead>
      <tbody>

          <%= @bookings.each do |booking|%>
          <tr>
              <td><%= booking.code %></td>
              <td><%= booking.date %></td>
              <td><%= booking.people %></td>
          </tr>
          <% end %>

      </tbody>
    </table>
  <% else %>
    <div class="container max-w-full align-center justify-center">
      <p>You don't have any bookings yet</p>
    </div>
  <% end %>
</div>
